* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
	font-weight: normal;
    color: #000;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page {
    width: 1920px;
}

.header {
    display: flex;
	justify-content: center;
    align-items: center;
    position: relative;
}

.header__image {
    filter: brightness(0.64);
}

.header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
}

.header__content__title {
    margin-bottom: 64px;
}

.header__content__subtitle {
    margin-bottom: 32px;
}

button {
    background: #F2C94C;
    border-radius: 5px;
    border: none;
}

.button-header {
    width: 280px;
    height: 64px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

h1 {
    font-weight: 500;
    font-size: 64px;
    line-height: 52px;
}

h2 {
    font-size: 20px;
    line-height: 28px;
}

.text_white {
    color: #FFF;
}

.menu {
    width: 1920px;
    height: 64px;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__links {
    width: 435px;
}

.menu__links__wrapper {
    margin-left: 51px;
    display: flex;
    justify-content: space-between;
}

.menu-link {
    font-size: 18px;
    line-height: 21px;
    color: #FFF;
    text-decoration: none;
}

.menu__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.text_yellow {
    color: #F2C94C;
}

.menu__button {
    width: 435px;
}

.menu__button__wrapper {
    margin-right: 63px;
    display: flex;
    justify-content: flex-end;
}

.button-menu {
	width: 179px;
	height: 40px;
	font-size: 14px;
	line-height: 16px;
}

.content__posts {
	height: 821px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.content__posts__title {
	margin-top: 70px;
	font-size: 24px;
	line-height: 28px;
}

.content__posts__subtitle {
	margin-top: 25px;
	font-size: 18px;
	line-height: 27px;
}

.content__posts__cards {
	display: flex;
    align-items: center;
	margin-top: 88px;
	text-align: left;
}

.content__posts__cards__moto {
	width: 370px;
	height: 502px;
}

.moto-3 .content__posts__cards__moto__image  {
	margin-top: 37px;
}

.moto-3 .content__posts__cards__moto__description {
	margin-top: 34px;
}

.content__posts__cards__moto__description h5 {
    font-size: 24px;
    line-height: 33px;
}

.content__posts__cards__moto__description__spoiler {
    margin-top: 12px;
    font-size: 14px;
    line-height: 19px;
}

.content__feature {
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content__feature__description + .content__feature__media {
	margin-left: 76px;
}

.content__feature__description {
    margin-top: 35px;
}

.content__feature__description__title h4 {
	font-weight: bold;
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 24px;
}

.content__feature__description__text {
	font-size: 20px;
	line-height: 28px;
}

.content__feature__media img {
    border-radius: 8px;
}

.social-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 266px;
    background: #F2C94C;
}

.social-links__title {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 32px;
}

.social-links__logos {
    display: flex;
}

.social-logo {
    margin-left: 40px;
}

.flex_centering {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_colm {
    flex-direction: column;
}

.footer * {
    color: #FFF;
    font-size: 14px;
    line-height: 20px;
}

.footer {
    height: 380px;
    background: #333333;
}

.footer__links {
    margin-left: 150px;
}

.footer__links__title {
    margin-bottom: 25px;
}

.footer__links__title h6 {
    font-weight: bold;
}

.footer__links__list a {
    margin-bottom: 16px;
    text-decoration: none;
}

.footer__copyright {
    margin-right: 147px;
    align-items: flex-start;
}

.footer__copyright__logo {
    margin-bottom: 19px;
}

.footer__copyright__data {
    margin-bottom: 13px;
}